<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menudemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.home.LandingRecordActivity"></activity>
        <activity android:name=".ui.home.ChangePhoneNumberActivity" />
        <activity android:name=".ui.home.ChangeEmailActivity" />
        <activity android:name=".ui.home.ChangePassWordActivity" />
        <activity android:name=".ui.home.Personalinfo_PhoneMUNSettingActivity" />
        <activity android:name=".ui.task.MessionModifyActivity" />
        <activity android:name=".ui.task.MessionDetailsActivity" />
        <activity android:name=".ui.task.PublishActivity" />
        <activity android:name=".ui.home.ForgetpsdActivity" />
        <activity android:name=".ui.home.LoginActivity" />
        <activity android:name=".ui.task.TaskGroundActivity" />
        <activity android:name=".ui.home.RegisterActivity" />
        <activity android:name=".ui.home.Settings_SafetyActivity" />
        <activity android:name=".ui.home.Settings_PayActivity" />
        <activity android:name=".ui.home.Settings_CommonActivity" />
        <activity android:name=".ui.task.TasklistActivity" />
        <activity android:name=".ui.home.WalletActivity" />
        <activity android:name=".ui.home.PersonalinfoActivity" />
        <activity android:name=".ui.home.SettingsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>